[submodule "docs/themes/PaperMod"]
	path = docs/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "geoserver"]
	path = geoserver
	url = https://github.com/geoserver/geoserver
[submodule "label-studio"]
	path = label-studio
	url = https://github.com/HumanSignal/label-studio
